header {
    background-color: #eeeeee;
}

footer {
    background-color: #eeeeee;
}

.container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

#divOpcoesImagens {
    background-color: #dedede;
}